$background-color: #f696b66d;
$text-color: #d27e24;
$text-color1: grey;
$text-color2: orange;
$text-color3: rgb(151, 137, 137);
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;
$font-size1: 50px;
$font-family1: 'Poppins', sans-serif;
$width1: 50%;
$padding-left1: 5%;
$padding-top1: 10%;
$margin-top1: 150px;
$padding-bottom1: 20px;
$padding-right1: 30px